:root {
    --padding: 1vw;
    --margin: 6vw;
}

.theme-dark {
    --font-color: #eef5ff;
    --hyperlink-color: #aad7ff;
    --background-color: #55738d;
    --intro-box-color: #6b8faf;
    --wrapper-color: #496780;
    --hover-color: #496174;
    --box-color: #62839e;
}

.theme-light {
    --font-color: #484b6a;
    --hyperlink-color: #3d6d97;
    --background-color: #e4e5f1;
    --intro-box-color: #f8f8f8;
    --wrapper-color: #c2c3d3;
    --hover-color: #d6d7e4;
    --box-color: #f1f1f1;
}

* {
    text-decoration: none;
    background-color: var(--background-color);
    color: var(--font-color);
    border-color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 1rem;
    border-radius: 15px;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.wrapper,
.header,
.content,
#intro,
#profile,
#name,
#prof,
#avt {
    margin-left: var(--margin);
    margin-right: var(--margin);
}

#nav-bar {
    background-color: var(--wrapper-color);
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#nav-bar button svg {
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    background: var(--box-color);
}

#nav-bar button:hover svg {
    background: var(--hover-color);
}

#intro {
    padding: var(--padding);
    background-color: var(--intro-box-color);
    text-align: center;
    overflow-wrap: break-word;
}

#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name {
    padding: var(--padding);
    font-size: 200%;
    font-weight: bold;
}

#prof {
    font-weight: normal;
    margin: 0;
    margin-top: 1rem;
}

#avt {
    width: 7rem;
    height: 7rem;
    border-radius: 100px;
    border-style: solid;
}

#form {
    min-width: fit-content;
    background-color: var(--wrapper-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#todo-list {
    padding: 1rem;
    min-width: fit-content;
}

#todo-list li {
    padding: 0.5rem;
    word-wrap: break-word;
}

#todo-list li:hover {
    background-color: var(--hover-color);
    text-decoration: line-through;
}

/* General wrapper */
.wrapper {
    padding: var(--padding);
    /* background-color: red; */
}

.header {
    border-bottom-style: solid;
    border-radius: 0;
    font-size: 150%;
    font-weight: bold;
}

.content {
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.textbox {
    background-color: var(--box-color);
    width: 75%;
    padding: var(--padding);
    border: none;
}

.clickable {
    background-color: var(--box-color);
    padding: var(--padding);
    border: none;
}

.clickable:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}
/*  **  */

/* About */
.about-clickable {
    color: var(--hyperlink-color);
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin: 0;
    border: none;
    float: left;
    clear: left;
}

.about-clickable:hover {
    background-color: var(--hover-color);
}

.tooltip {
    position: relative;
    padding: var(--padding);
    display: inline-block;
}

.tooltip .tooltip-text {
    font-size: smaller;
    visibility: hidden;
    width: max-content;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin: 0;
    padding: var(--padding);

    position: absolute;
    z-index: 1;
    right: 105%;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* Position wrapper */
.bottom-right {
    position: fixed;
    width: 3rem;
    height: 3rem;
    padding: 0;
    bottom: 0;
    right: 0;
}
