:root {
    --padding: 1vw;
    --margin: 6vw;
    --hover-scale: 0.5;
}

.theme-dark {
    --font-color: #eef5ff;
    --shadow-color: #2d3b4763;
    --placeholder-color: #dbe2ec;
    --hyperlink-color: #aad7ff;

    --background-color: #000000;
    --wrapper-color: #1e1f20;
    --box-color: 28, 58, 114;

    --bar-color: #1c3a72;
}

.theme-light {
    --font-color: #484b6a;
    --shadow-color: #484b6a63;
    --placeholder-color: #3b3d57;
    --hyperlink-color: #3d6d97;

    --background-color: #e4e5f1;
    --wrapper-color: #cecfe0;
    --box-color: 241, 241, 241;

    --bar-color: #8282a0;
}

* {
    text-decoration: none;
    color: var(--font-color);
    border-color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

body {
    height: 100dvh;
    background-color: var(--background-color);
    margin: 0;
}

input::placeholder {
    color: var(--placeholder-color);
}

/* General wrapper */
.wrapper {
    padding: var(--padding);
    margin: 1rem;
    /* background-color: red; */
}

.header {
    border-bottom-style: solid;
    border-radius: 0;
    margin: 1rem;
    font-size: 150%;
    font-weight: bold;
}

.content {
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin: 1rem;
}

.textbox {
    background-color: rgb(var(--box-color));
    width: 40vw;
    padding: var(--padding);
    margin: 1rem;
    border: none;
}

.clickable {
    background-color: rgb(var(--box-color));
    margin: 1rem;
    padding: var(--padding);
    border: none;
}

.clickable:hover {
    background-color: rgb(var(--box-color), var(--hover-scale));
    cursor: pointer;
}
/*  **  */

/* About */
.about-clickable {
    margin: 1rem;
    color: var(--hyperlink-color);
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin: 0;
    border: none;
    float: left;
    clear: left;
}

.about-clickable i {
    margin: 1rem;
}

.tooltip {
    position: relative;
    padding: var(--padding);
    display: inline-block;
}

.tooltip .tooltip-text {
    font-size: smaller;
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: var(--wrapper-color);
    color: var(--font-color);
    text-align: center;
    margin: 0;
    padding: var(--padding);
    box-shadow: 0px 5px 5px var(--shadow-color);

    position: absolute;
    z-index: 1;
    right: 105%;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 100;
}

/* Wrapper */
.bottom-right {
    position: fixed;
    padding: 0;
    bottom: 0;
    right: 0;
}

.wrapper,
.header,
.content,
#intro,
#profile,
#name,
#prof,
#avt {
    margin-left: clamp(1vw, 3.5%, var(--margin));
    margin-right: clamp(1vw, 3.5%, var(--margin));
}

nav {
    background-color: var(--wrapper-color);
    display: flex;
    justify-content: flex-end;
    border-radius: 0;
    z-index: 999;
    background-color: var(--wrapper-color);
    margin-bottom: 1rem;
    box-shadow: -1px 10px 10px var(--shadow-color);
    overflow: hidden;
}

nav div:first-child {
    margin: 1rem;
    margin-right: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

svg {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    background-color: transparent;
}

.sidebar {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    border-radius: 0;
    background-color: var(--wrapper-color);
    box-shadow: -10px 0 10px var(--shadow-color);
    display: none;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

#intro {
    padding: var(--padding);
    background-color: var(--wrapper-color);
    text-align: center;
    overflow-wrap: break-word;
}

#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

#name {
    margin: 1rem;
    padding: var(--padding);
    font-size: 200%;
    font-weight: bold;
}

#prof {
    font-weight: normal;
    margin: 0;
    margin-top: 1rem;
}

#avt {
    width: 7rem;
    height: 7rem;
    border-radius: 100px;
    border-style: solid;
}

#form {
    margin: 1rem;
    background-color: var(--wrapper-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#todo-list {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--wrapper-color);
}

#todo-list li {
    margin: 1rem;
    padding: 0.5rem;
    word-wrap: break-word;
    background-color: rgb(var(--box-color));
}

#todo-list li:hover {
    background-color: rgb(var(--box-color), var(--hover-scale));
    text-decoration: line-through;
}

@media (max-width: 1000px) {
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 1000px) {
    .hide-on-desktop {
        display: none;
    }
}

@media (max-width: 600px) {
    #profile {
        flex-wrap: wrap;
    }
}
